include ../../mixin.pug

+line-main("img/TOLSTOJ.png","TOLSTOY","ГАСТРОНОМИЧЕСКАЯ ЛИНИЯ","img/TOLSTOJ-big-line.png")
+line-text(
    "Основная линия продукции RADAХ названа в честь отца русской литературы Льва Толстого. Будучи большим почитателем Италии, он совершил короткую, но насыщенную поездку по региону Пьемонт, во время которой встречался с известным итальянским политическим деятелем графом Камилло Бенсо ди Кавур.<strong>Высокая производительность оборудования RADAХ, мощность и многогранность – вполне могут соответствовать характеру письма нашего великого писателя.</strong>",
    "Компания pwd-test разработала TOLSTOY, полную серию профессиональных печей, предназначенных для <strong>предприятий общественного питания, супермаркетов, профессионального сектора общественного питания, отельеров, продуктовых магазинов, столовых и многого другого.</strong>",
    "img/line-text-tolstoy.jpg"
)
+line-baner(
    "img/line-banner-1.jpg",
    "ПЕЧИ TOLSTOY С ЭЛЕКТРОННЫМ  УПРАВЛЕНИЕМ ",
    "Гастрономия"
)
+line-oven(
    "img/tolstoy-oven-3.png",
    "img/tolstoy-oven-2.png",
    "img/tolstoy-oven-1.png",
    "img/tolstoy-oven-2.png",
    "img/tolstoy-oven-1.png",
    "img/tolstoy-oven-3.png",
    "TL12DYC / TL12DY0",
    "TL07DYC / TL07DY0",
    "TL05DYC / TL05DY0",
    "TL12DYC / TL12DY0",
    "TL07DYC / TL07DY0",
    "TL05DYC / TL05DY0",
    "12 GN1/1",
    "7 GN1/1",
    "5 GN1/1",
    "12 GN1/1",
    "7 GN1/1",
    "5 GN1/1"
)
+line-baner(
    "img/line-banner-2.jpg",
    "ПЕЧИ TOLSTOY С РУЧНЫМ УПРАВЛЕНИЕМ ",
    "Гастрономия"
)
+line-oven(
    "img/tolstoy-oven-6.png",
    "img/tolstoy-oven-5.png",
    "img/tolstoy-oven-4.png",
    "TL12M0 / TL12DY0",
    "TL07M0 / TL07DY0",
    "TL05M0 / TL05DY0",
    "12 GN1/1",
    "7 GN1/1",
    "5 GN1/1"
)
+line-baner(
    "img/line-banner-3.jpg",
    "ТЕХНОЛОГИИ ПЕЧЕЙ TOLSTOY ",
    "Гастрономия"
)
