section.news
    .container
        h2.h2.news__caption Новости
        .news__row
            each img in ["news-1.jpg","news-2.jpg","news-3.jpg","news-4.jpg"]
                .news__card.main-news-card
                    .main-news-card__img
                        img(src="img/"+img, alt="news-card")
                    .main-news-card__text pwd-test появился на базе российских высоких технологий.
                    a.button.main-news-card__link(href="#") Подробнее
