-
    var arr = [
        {text:"Рестораны  и кафе",img:"img/sphere-1.png"},
        {text:"Отели",img:"img/sphere-2.png"},
        {text:"Общественное питание, столовые",img:"img/sphere-3.png"},
        {text:"Супермаркеты",img:"img/sphere-4.png"},
        {text:"Кулинарии  и гастрономии",img:"img/sphere-5.png"},
        {text:"Кофейни",img:"img/sphere-6.png"},
        {text:"Пекарни",img:"img/sphere-7.png"},
        {text:"Кондитерские",img:"img/sphere-8.png"},
        {text:"Бары",img:"img/sphere-9.png"},
        {text:"Пиццерии",img:"img/sphere-10.png"},
    ]

section.sphere
    .container.sphere__container
        h2.h2.sphere__caption Сферы применения
        .sphere__row
            each card in arr
                .sphere__card
                    .sphere__img
                        img(src=card.img, alt="sphere-card")
                    .sphere__text=card.text
