.section {
    padding: 72px 80px 20px;
    background-color: #fff;
}

.section__caption {
    margin: 0;
    margin-bottom: 44px;
    @include font(24px,400,1.1,0,$header-color);
}

.section__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__card {
    flex: 0 0 305px;
    width: 305px;
    margin-bottom: 52px;
}
