.scope-banner.slider(data-slider="scope")
    .swiper-container
        .swiper-wrapper
            .scope-banner__item.swiper-slide(style="background-image:url('img/scope.jpg');")
                .container
                    .scope-banner__caption СФЕРЫ ПРИМЕНЕНИЯ
                    p.scope-banner__text Печи для профессионалов всех сфер
                .scope-banner__overlay
    .swiper-pagination
