-
    var arr = [
        {img:"img/news-1.jpg",caption:"pwd-test на выставке PIR EXPO 2020 ",text1:"Главная выставка индустрии гостеприимства",text2:"Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные..."},
        {img:"img/news-2.jpg",caption:"pwd-test на выставке PIR EXPO 2020 ",text1:"Главная выставка индустрии гостеприимства",text2:"Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные..."},
        {img:"img/news-3.jpg",caption:"pwd-test на выставке PIR EXPO 2020 ",text1:"Главная выставка индустрии гостеприимства",text2:"Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные..."},
        {img:"img/news-4.jpg",caption:"pwd-test на выставке PIR EXPO 2020 ",text1:"Главная выставка индустрии гостеприимства",text2:"Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные..."},
        {img:"img/news-5.jpg",caption:"pwd-test на выставке PIR EXPO 2020 ",text1:"Главная выставка индустрии гостеприимства",text2:"Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные..."},
        {img:"img/news-6.jpg",caption:"pwd-test на выставке PIR EXPO 2020 ",text1:"Главная выставка индустрии гостеприимства",text2:"Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные..."},
    ]
.news-block__row
    each card in arr
        .news-block__card.news-card
            .news-card__img
                img(src=card.img, alt="news-card")
            a.news-card__caption(href="#")=card.caption
            p.news-card__about=card.text1
            p.news-card__text=card.text2

