section.news-block__one-news.one-news
    .one-news__img
        img(src="img/news-1.jpg", alt="one-news-main")
    h2.one-news__caption POLAIR GROUP на выставке PIR EXPO 2020
    p.one-news__about Главная выставка индустрии гостеприимства
    p.one-news__text Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные, универсальные и низкотемпературные холодильные шкафы (как из нержавеющей стали, так и из оцинкованной стали с полимерным покрытием), быстромонтируемые холодильные камеры из сэндвич-панелей, моноблочные холодильные машины и сплит-системы, морозильные лари с раздвижными стеклянными или глухими крышками, холодильные столы.
    .one-news__img-row
        .one-news__img-column
            img(src="img/news-2.jpg", alt="one-news")
        .one-news__img-column
            img(src="img/news-3.jpg", alt="one-news")
    p.one-news__text Торговая марка POLAIR — это широкий ассортимент высококачественного профессионального холодильного оборудования: среднетемпературные, универсальные и низкотемпературные холодильные шкафы (как из нержавеющей стали, так и из оцинкованной стали с полимерным покрытием), быстромонтируемые холодильные камеры из сэндвич-панелей, моноблочные холодильные машины и сплит-системы, морозильные лари с раздвижными стеклянными или глухими крышками, холодильные столы.
