-
    var selectArr = [
        {
            caption:"Страна",
            itemArr:[
                "Россия",
                "2"
            ]
        },{
            caption:"Регион",
            itemArr:[
                "Московская область",
                "10"
            ]
        },{
            caption:"Город",
            itemArr:[
                "Москва",
                "2",
            ]
        },
    ]

include ../../mixin.pug

section.where
    .container
        h2.visually-hidden where
        p.where__text
            |Розничная продажа оборудования pwd-test осуществляется только через партнерскую сеть.
            |Вы также можете заказать продукцию pwd-test в интернет-магазине POLAIR. Интернет-магазин осуществляет продажу и доставку оборудования pwd-test силами официальных поставщиков продукции в регионе поставки.
        .where__caption Для выбора партнера выберите страну и/или город
        +form-select("where__form",selectArr)
        .where__caption или начните набирать название страны или региона и выберите подсказку
        +form-search("where__form","Найти диллера")
