.pagination
    button.pagination__arrow(type="button")
        span &#60;
        |Предыдущие
    a.pagination__link(href="#") 1
    a.pagination__link(href="#") 2
    a.pagination__link(href="#") 3
    a.pagination__link(href="#") 4
    a.pagination__link(href="#") 5
    a.pagination__link(href="#") 6
    button.pagination__arrow(type="button")
        |Следующие
        span &#62;
