section.comparison
    .comparison__caption-row
        .container
            h1.comparison__caption СРАВНЕНИЕ МОДЕЛЕЙ
    .container
        .comparison__link-row
            a.btn-blue.comparison__link(href="#") Добавить оборудование
            a.btn-blue.comparison__link(href="#") Где купить
        .comparison__table-block
            include table.pug

