section.technology-main(style="background-image:url('img/technology-banner-1.jpg');")
    .container.technology-main__row
        h1.technology-main__caption Технологии наших печей
    .technology-main__overlay
