include pug/mixin.pug

-
    var cardArr = [
        {
            img: 'img/image-1.png',
            cash: '189 ₽',
            text: 'Oral-B ополаскиватель для полости рта Комплекс LASTING FRESHNESS Arctic Mint 250 мл',
        },
        {
            img: 'img/image-2.png',
            cash: '801 ₽',
            text: 'Сменные насадки для электрических зубных щеток Oral-B Sensi Ultrathin для бережной чистки, 2 шт.',
        },
        {
            img: 'img/image-3.png',
            cash: '2 289 ₽',
            text: 'Электрическая зубная щетка Philips Sonicare 2 Series Gum Health HX6232/20 с двумя насадками, черный',
        },
        {
            img: 'img/image-4.png',
            cash: '189 ₽',
            text: 'Oral-B Зубная нить Essential Floss вощеная, мята, 2шт',
            sale: '385 ₽'
        },
    ]

doctype html
html(lang="ru")
    head
        block head
            meta(charset="utf-8")
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.")
            title #{title}
            link(rel="icon" type="image/x-icon" href="favicon.ico")
            link(rel="stylesheet" href="css/style.min.css")
    body
        <div style="display:none">
            <include src="build/img/icons/sprite.svg"></include>
        </div>
        section
            h1 С этим товаром покупают
            each card in cardArr
                +card(card.img,card.cash,card.text)
        script(src='js/script.js')
