section.service
    h2.visually-hidden service
    p
        strong
            |Одна из основных целей pwd-test – предоставлять покупателям продукции комплексное и качественное сервисное обслуживание каждой единицы оборудования pwd-test силами высокопрофессиональных сервисных служб наших партнёров с момента продажи и в течение всего срока эксплуатации.
    p
        |Взаимодействие по гарантийному обслуживанию оборудования pwd-test осуществляется через сервисный портал, где размещается вся информация о продукции pwd-test. Благодаря этому осуществляется полный контроль каждой единицы оборудования с момента начала ее эксплуатации и в течение всего установленного срока гарантийной поддержки.
    p
        |Портал объединяет усилия pwd-test, наших Дилеров и Авторизованных Сервисных Центров в вопросах предоставления пользователям качественного и оперативного сервиса в течение гарантийного срока эксплуатации оборудования, а также является платформой эффективного информационного и маркетингового взаимодействия участников.
    p
        |pwd-test формирует сеть своих Авторизованных Сервисных Центров (АСЦ), чтобы предоставить пользователям необходимый качественный и оперативный сервис в течение гарантийного срока эксплуатации оборудования.
    p
        |pwd-test приглашает к сотрудничеству сервисные организации, обладающие широким спектром комплексных сервисных услуг при обслуживании различных типов и моделей оборудования. Для получения статуса Авторизованного Сервисного Центра (если Вы представитель Компании Дилера или Сервисного Центра) перейдите по ссылке на баннере
        a(href="#")!="«Подать Заявку на сотрудничество» "
        |заполните регистрационные данные, получите Анкету на Ваш адрес электронной почты, заполните её по образцу и направьте в сервисную службу pwd-test на адрес электронной почты:
        a(href="mailto:service@polair.com")  service@polair.com.
    p
        |Для регистрации оборудования pwd-test на портале (если Вы являетесь конечным покупателем, представителем Компании Дилера или Авторизованного Сервисного Центра) перейдите по ссылке на баннере
        a(href="#") «Зарегистрируй оборудование pwd-test на сервисном портале»
        |и заполните форму обратной связи.
    p
        |Если Вы хотите сообщить о неисправности оборудования pwd-test (если Вы являетесь конечным покупателем, представителем Компании Дилера или Авторизованного Сервисного Центра) перейдите по ссылке на баннере
        a(href="#") «Сообщи о неисправности оборудования»
        |и заполните форму обратной связи.
    p
        |Напоминаем Вам, что профессиональное холодильное оборудование торговой марки POLAIR является технически сложным товаром и поэтому важно во время выбора оборудования позаботиться о его техническом обслуживании. Внимательно прислушайтесь к нашим рекомендациям в разделе
        a(href="#") «Рекомендации по выбору сервисного центра»
    p
        |В случае возникновения вопросов касающихся исполнения обязательств по гарантийному ремонту, Вы можете обратиться за информационной поддержкой в единую сервисную службу компании АО «Полаир-Недвижимость», тел./факс (8362) 23-25-06, e-mail: service@polair.com.
